name: "Test dev container features"
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:


jobs:
  test:
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      matrix:
        features:
          - bpftool
          - cni-plugins
          - docsify
          - grafanactl
          - gocover
          - go-ebpf
          - go-mod-upgrade
          - goreportcard
          - lazygit
          - local-pkgsite
          - nerdctl
          - pin-github-action
          - pull-through-cache-registry
          - wal-wahl
        baseImage:
          - mcr.microsoft.com/devcontainers/base:ubuntu-24.04
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # pin@v4

      - name: "install latest devcontainer CLI"
        run: npm install -g @devcontainers/cli@0.72.0

      - name: "generating tests for '${{ matrix.features }}' against '${{ matrix.baseImage }}'"
        run: devcontainer features test --skip-duplicated -f ${{ matrix.features }} -i ${{ matrix.baseImage }} .
